/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
  background-image: url(/img/cedar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html{
  scroll-behavior: smooth;
}
body {
font-size: 3rem;
font-weight: 700;
color: blanchedalmond;
background-color: rgba(0, 0, 0, 0.329);
margin-bottom: -4rem;
}
.content {
  min-height: calc(100vh - 9rem);
}
footer{
  width: 100%;
  position: relative;
  background-color: black;
  height: 4rem;
}
small{
  position:absolute;
  font-variant: small-caps;
  font-size: 1.5rem;
  background-color: black;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  margin: auto;
}

.pageButton img{
  height: 12%;
  position: fixed;
  z-index: 4;
  top: 77%;
  left: 92%;
}
/******************************************
/* NAV
/*******************************************/
nav{
  width: 100%;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.695);
  padding: 1rem 0;
}
a{
  color: blanchedalmond;
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
height: 500px;
width: 100%;
background-image: url(/img/SalmonLures.png);
background-position: center;
background-position-y: 38%;
background-size: 50%;
background-repeat: no-repeat;
margin-bottom: -10rem;
}



/* ////////////////////HOME///////////////////// */
main{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(46, 33, 25) 85%);
}
main div,
.lureTypes ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4rem;
}
article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.805);
  border-radius: 10%/70%;
  padding: 1rem;
  margin-bottom: 1rem;
}
article img{
  height: 30rem;
  width: 50rem;
  background-image: linear-gradient(to bottom right, salmon, rgb(194, 194, 194));
  border-radius: 10%/70%;
}
article h2,
article h3{
  padding-bottom: 1rem;
}
.lureTypes{
  background-color: rgb(46, 33, 25) ;
}
.lureTypes img{
  height: 20rem;
  width: 30rem;
}




/*////////////////////////////////////////////////////////............../ RECENT CATCHES................////////////////////////*/
.gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 5rem auto 0 auto;

}
.gallery div{
  border: 1rem solid rgb(46, 33, 25);
  height: 30rem;
  width: 30rem;
  background-image: linear-gradient(to bottom right, salmon, rgb(194, 194, 194)) ;
  margin: 2rem;
  color: rgb(46, 33, 25);
  text-align: center;
}

.gallery div h4{
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  padding: 1rem;
}


/* //////////////////////////////////////////////////////////////ABOUTUS /////////////////////////////////////////////////////// */

.about section{
  width: 40rem;
  height: 40rem;
  margin: 4rem auto 0 auto;
  background-image: linear-gradient(to bottom right, salmon, rgb(194, 194, 194)) ;
  border-radius: 2rem;
  border: 1rem solid rgb(46, 33, 25);
}
.about h2{
  text-align: center;
}
.about p{
  padding: 4rem 13rem;
}
