/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
  background-image: url(/img/cedar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
font-size: 3rem;
font-weight: 700;
color: blanchedalmond;
background-color: rgba(0, 0, 0, 0.329);
margin-bottom: -4rem;
}
.content {
  min-height: calc(100vh - 9rem);
}
footer{
  width: 100%;
  position: relative;
  background-color: black;
  height: 4rem;
}
small{
  position:absolute;
  font-variant: small-caps;
  font-size: 1.5rem;
  background-color: black;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  margin: auto;
}

/******************************************
/* NAV
/*******************************************/
nav{
  width: 100%;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.695);
  padding: 1rem 0;
}
a{
  color: blanchedalmond;
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
height: 500px;
width: 100%;
background-image: url(/img/Salmon.png);
background-position: center;
background-size: 50%;
background-repeat: no-repeat;
margin-bottom: -10rem;
}
main{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(255, 223, 203, 0.298));
}
main div,
.lureTypes ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4rem;
}
article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.805);
  border-radius: 10%/70%;
  padding: 1rem;
  margin-bottom: 1rem;
}
article img{
  height: 30rem;
  width: 50rem;
  background-image: linear-gradient(to bottom right, salmon, rgb(194, 194, 194));
  border-radius: 10%/70%;
}
.lureTypes{
  background-color: rgba(255, 223, 203, 0.31) ;
}
.lureTypes img{
  height: 20rem;
  width: 30rem;
}








/******************************************
/* ADDITIONAL STYLES
/*******************************************/
